~*
*.log
*.exe
*.exe~
urlshort
tmp/*
tmp*

# exclude everything under level-db - but include direct children *.xxxx
storages/level-db/**
!storages/level-db/*.xxxx

storages/bolt-db

# exclude everything under url-shorts - but include direct children *.xxxx
storages/url-shorts/**
!storages/url-shorts/*.xxxx
